// Non-critical CSS to be loaded asynchronously.

@charset "UTF-8";

// 1. Configuration and helpers
@import
  "abstracts/variables",
  "abstracts/mixins";

// 4. Layout
@import
  "layout/footer";

// 5. Components
@import
  "components/btn",
  "components/label",
  "components/pagination",
  "components/form",
  "components/modal",
  "components/table",
  "components/syntax";

// 6. Page-specific styles
@import
  "pages/post";
