// Figures
figure {
    text-align: center}
figure img {
    border-radius: 4px;
    box-shadow: 0 1px 3px #0003;
    margin-bottom: 0.5em}
figure > a,
figure > a:hover,
figure > a:focus {
    border: 0}
figure > a > img:hover,
figure > a > img:focus {
    box-shadow: 0 2px 40px 0 #0003}
figure > figcaption {
    color: $grey;
    font-size: 0.875em;
    margin-bottom: 0.5em}

// Left and right alignment
@media (min-width: $sm) {
  .left {
    float: left;
    margin-right: 1em;
    text-align: left}
  .right {
    float: right;
    margin-left: 1em;
    text-align: right}}

// Galleries
@media (min-width: $sm) {
  figure.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between}
  figure.gallery figcaption {
    width:100%}
  figure.gallery>a,
  figure.gallery>img {
    width:calc(33.3333% - 0.5em)}}
